@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --main-bg: rgb(238,174,202);
}

body {
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: var(--pink-bg);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}


.container {
    background-color: rgba(148,187,233, 0.5);
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container a {
    text-decoration: none;
    color: purple;
}

.btn {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    background:  rgba(238,174,202,1);
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text {
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px black solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
}

.form-control input:focus,
.form-control input:valid {
    outline: 0;
}

.form-control label {
    position: absolute;
    top: 15px;
    left: 0;
}

